<section class="products cd-gallery filter-is-visible">
  <%= paginate @products %>
  <ul>
    <% @products.each do |product| %>
      <li class="mix color-1 check1 radio2 option3">
        <span><%= product.name %></span>
        <span style="float: right"><%= number_to_currency(product.price) %></span>
        <%= image_tag(product.image_url) %>
        <i class="fa fa fa-shopping-cart addThisItemButton" data-id="<%= product.id %>"></i>
      </li>
    <% end %>
    <li class="gap"></li>
    <li class="gap"></li>
    <li class="gap"></li>
  </ul>
  <div class="cd-fail-message">No results found</div>
</section>

<%= render "common/searchSidebar" %>