<section class="products gallery">
  
  <ul>
    <% @products.each do |product| %>
      <li class="product">
        <span><%= product.name %></span>
        <span style="float: right"><%= number_to_currency(product.price) %></span>
        <%= image_tag(product.image_url) %>
        <i class="fa fa fa-shopping-cart addThisItemButton" data-id="<%= product.id %>"></i>
      </li>
    <% end %>
    <li class="gap"></li>
    <li class="gap"></li>
    <li class="gap"></li>
  </ul>
  <%= paginate @products %>
</section>

<%#= render "common/searchSidebar" %>